@use 'sass:color';

@use '@material/theme/color-palette';

$primary-color: #010798;
$secondary-color: #d0d1e2;
$highlight-color: #c1fbff;
$background-gray: #808080;
$background-gray-brighter: #989898;
$surface: #fff;
$error: #a11818;

@use '@material/theme/index' as theme with (
	$primary: $primary-color,
	$secondary: $secondary-color,
	$surface: $surface,
	$background: $background-gray,
	$error: $error
);

html,
body {
	background-color: theme.$surface;
	color: theme.$primary;
}

a {
	color: #40b3ff;
}
a:visited {
	color: color.scale(#40b3ff, $lightness: -35%);
}

button {
	color: theme.$primary;
}
