:root {
	--primary-color: #010798;
	--secondary-color: #d0d1e2;
	--highlight-color: #c1fbff;
	--background-gray: #808080;
	--background-gray-brighter: #989898;
}

// @mixin transparent-background($hex, $opacity) {
// 	background-color: rgba(#{$hex}, $opacity);
// }

h1,
h2,
p {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-weight: 400;
}
h2 {
	font-weight: 700;
}
