:root {
	--primary-color: #010798;
	--secondary-color: #d0d1e2;
	--highlight-color: #c1fbff;
	--background-gray: #808080;
	--background-gray-brighter: #b4b4b4;
}

h1,
h2,
p {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-weight: 400;
}
h2 {
	font-weight: 700;
}
